#footer {
	border-top: 1px solid #ccc; 
	font-size: 90%; 
}

#footer a:link,
#footer a:visited {	color: #000; }
#footer a:hover,
#footer a:active { color: #fff;	background: #000; }

#footer hr { display: none; }

#footer p {
	width: 40%;
	float: left; 
	margin: 0; padding: 0; 
}

#footer ul {
	width: 40%;
	margin: 0; padding: 0;
	list-style-type: none; 
	text-align: right; 
	float: right; 
}

#footer li {
	margin: 0; padding: 0 0 0 1em;
	display: inline; 
}
