<% unless @tags.blank? -%>
<h3>Tags</h3>
<ul>
  <li>
    <% @tags.each do |tag| -%>
    <span style="line-height:11px; font-size:1<%= 9 + (tag.articles.size) %>%;">
      <%= link_to tag.name, :controller => 'articles', :action => 'tag', :id => tag.name %>
    </span>
    <% end -%>
  </li>
</ul>
<% end %>